{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="container">
    <h1>Sign up</h1>

    <form method="post" autocomplete="off">
    {% csrf_token %}
    {% with form=signup_form hide_label=True %}
      {% include "forms/_form_errors.html" %}
      {% include "forms/_input.html" with field=form.first_name errors=form.errors.first_name %}
      {% include "forms/_input.html" with field=form.last_name errors=form.errors.last_name %}
      {% include "forms/_input.html" with field=form.email errors=form.errors.email %}
      {% include "forms/_select.html" with field=form.country options=form.fields.country.choices empty_option='' errors=form.errors.country %}
      {% include "forms/_textarea.html" with field=form.about errors=form.errors.about %}
      {% include "forms/_input.html" with field=form.password1 errors=form.errors.password1 type='password' %}
      {% include "forms/_input.html" with field=form.password2 errors=form.errors.password2 type='password' %}
    {% endwith %}
      <br />
      <p class="well well-sm">
        {% blocktrans %}By clicking on <strong>Create an Account</strong>, you are agreeing to the <a href="{{ terms_url }}">Terms of Service</a> and <a href="{{ privacy_url }}">Privacy Policy</a>.{% endblocktrans %}
      </p>
      <button type="submit" class="btn btn-block btn-primary">{% trans "Create an Account" %}</button>
    </form>
  </div>
{% endblock %}