<div class="form-group">
  <label for="{{ field.id_for_label }}" class="control-label{% if hide_label %} sr-only{% endif %}">{{ field.label }}</label>
  <textarea name="{{ field.html_name }}" id="{{ field.id_for_label }}" rows="{{ rows|default:3 }}"  placeholder="{{ field.label }}" class="form-control">{{ field.value|default:"" }}</textarea>
{% if errors %}
  <div class="has-error">
  {% for error in errors %}
    <span class="help-block">{{ error }}</span>
  {% endfor %}
  </div>
{% endif %}
{% if field.help_text %}
  <span class="help-block">{{ field.help_text }}</span>
{% endif %}
{% if ajax %}
  <p class="help-block error"></p>
{% endif %}
</div>