<!DOCTYPE html>{% load compress %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Meme</title>

    {% compress css %}
      <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/meme.less" />
    {% endcompress %}
    {% block css %}{% endblock %}

  {# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries #}
  <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <script src="{{ STATIC_URL }}js/respond.min.js"></script>
  <![endif]-->
  </head>
  <body>
  {% block content %}{% endblock %}

  {% compress js %}
    <script src="{{ STATIC_URL }}js/jquery.js"></script>

    <script src="{{ STATIC_URL }}js/bootstrap/affix.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/transition.js"></script>
  {% endcompress %}
  {% block js %}{% endblock %}
  </body>
</html>
